html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    max-width: 950px;
    padding: 15px 20px;
    margin: 0 auto;
    /* background-color: brown; */
}

.main>header {
    /* text-align: center; */
}

.main>header img.logo {
    width: 150px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;

}

.main>nav {
    border-top: 1px solid #898002;
    border-bottom: 1px solid #898002;
    margin-bottom: 20px;

    /* background-color: aqua; */
}

.main>nav>ul {
    display: flex;
}

.main>nav>ul>li {
    /* background-color: #898002; */

    /* 這是display inset-inline-block的排版方式 */
    /* display: inline-block;
    width: 33.3333333%;
    margin-right: -4px; */

    /* 這是flex: 1;的排版方式 */
    flex: 1;

    text-align: center;
    height: 70px;
    line-height: 70px;
    font-size: 28px;
    font-weight: bolder;

}

.main>nav>ul>li>.nav_item {
    color: #000;
    text-decoration: none;
    position: relative;
}

.main>nav>ul>li>.nav_item:hover {
    background-color: #dcdddd;
    text-decoration: none;
    color: #000;
    display: block;
}

.main>nav>ul>li>.nav_item>.nav_child {
    /* background-color: aqua; */
    display: none;
    position: absolute;
    width: 100%;
}

.main>nav>ul>li>.nav_item:hover>.nav_child {
    display: block;
    background-color: #898002;
    color: rgb(248, 248, 248);
    text-decoration: none;
}

.main>nav>ul>li>.nav_item:hover>.nav_child a {
    line-height: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #898002;
    display: block;
    font-size: 16px;
    padding: 10px 15px;
    text-align: left;
}

.main>nav>ul>li>.nav_item:hover>.nav_child>a:hover {
    background-color: #000;
}

.nav_en {
    color: #898002;
}

.main>div.content>img {
    width: 100%;
}

/* shop.html開始 */

.main .p_content {
    color: #585951;
    line-height: 20px;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: bold;
    display: block;
    /* background-color: #585951; */
}

.shop_content>.item_wrap {
    border-top: 1px solid #898002;
    font-weight: bold;
}

.shop_content>.item_wrap>.item_row {
    display: flex
    padding: 15px;

}

.shop_content>.item_wrap>.item_row>div{
    flex: 1

}


.shop_content>.item_wrap>.item_row>.item_right .item_title{
    font-weight:bold ;
    border-bottom: 1px solid #898002;
    padding-bottom: 3px;

}

.price_txt{
    color: #898002;
    font-size: 17px;

}

.game_tex{
line-height: normal;

}

.buy_btn{
    margin: 30px;
    text-decoration: none;
    background-color: #898002;
    color: #fff;
    padding: 7px;
    padding-top: 12px;
    display: block;
    border-radius: 14px;
}

.buy_btn :hover{

}


@media(max-width:992px) {

    /* flex方向:垂直 */
    .main>nav>ul {
        flex-direction: column;
    }

    .main>nav>ul>li {
        width: 100%;
    }

    .main>nav>ul>li>.nav_item:hover>.nav_child {
        display: none

    }
}

/* 製作手機版面 */